@import "tailwindcss";
@import "@fontsource/roboto";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";

body {
  font-family: "Montserrat", sans-serif;
}
